body {
    font-family: Helvetica, sans-serif;
    margin: 0; 
    height: 400vh;
    width: 120vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: move;

    background-color: #f0f0f0; /*#0f0f0f*/
    background-size: min(4vw, 4vh) min(4vw, 4vh);
    background-position: center;


    overflow: hidden;
    user-select: none;
}


/* --- LOADING SCREEN --- */
#loading-screen {
    position: fixed;
    cursor: crosshair;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0f0f0f;
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: opacity 1s ease-in-out;
}

#loading-screen.fade-out {
    opacity: 0;
}

.loading-container {
    
    text-align: center;
    font-size: min(1.2vw, 1.2vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-bar {
    position: fixed;
    width: min(20vw, 20vh);
    height: max(1px, min(0.2vw, 0.2vh));
    background-color: #1f1f1f;
    bottom: min(13.33vw, 13.33vh);
    border-radius: 9999px;
    overflow: hidden;
}
#loading-fill {
    height: 100%;
    width: 0px;
    background-color: #e6e6e6;
    transition: width 2s ease-in-out;
}


/* --- MAIN PAGE --- */

/* Starting fade-in */
#content{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#content.fade-in{
    opacity: 1;
}


/* --- HEADER --- */

header {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 9999;
    justify-content: center;

}
/* Date */
.date {
    position: fixed;
    top: min(1.5vw, 1.5vh);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.year {
    font-size: min(3vw, 3vh);
    font-weight: bold;
    color: #191919;
}
.month {
    font-size: min(1.5vw, 1.5vh);
    font-weight: bold;
    color: #191919;
}


/* Index */
nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 10vh;
    width: 100vw;
}

.pill-box {
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 50vw;
    padding: 0;
    margin: 0;
    z-index:120000;
    
}

.pill {
    color: #191919;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: min(1.82vw, 1.82vh);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    
    padding: min(0.9vw, 0.9vh) min(1.8vw, 1.8vh);
    border-width: min(0.21vw, 0.21vh);
    border-style: solid;
    border-color: #a8a8a8;
    border-radius: 9999px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease;
}

.pill:hover {
    background-color: rgba(25, 25, 25, 0.95);
    transform: scale(1.05);
    border-color: black;
    color: white;
}

.pill-box li {
    margin: 0 min(1.2vw, 1.2vh);
    outline: none;
    user-select: none;
    touch-action: manipulation;
}

.pill1 {
    order: 0;
}

.pill2, .pill3 {
    order: 1;
}

.pill4, .pill5 {
    order: -1;
}


/* Scrollable content */
.scrollable-content {
    height: 400vh;
    width: 120vw;
    cursor: move;
}

/* Elipse overlay */
.gradient-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: scale(0.25);
    box-shadow: 0 0 0 min(100vw, 100vh) #f0f0f0;
    border-width: 0vh 0vw 0vh 0vw;
    border-style: solid;
    border-color: rgba(15, 15, 15, 1);
    background: radial-gradient(rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 1) 70%);
    pointer-events: none;
    z-index: 1000;
    animation: zoomGrid 2s forwards 2s;
}


/* Background */
.circle {
    position: absolute;
    z-index: -9;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    
    background-color: rgba(0, 100, 0, 0);
    background-image: radial-gradient(#333333 min(0.1vw, 0.1vh), transparent min(0.15vw, 0.15vh));
    background-size: min(4vw, 4vh) min(4vw, 4vh);
    
    transform: scale(0.25);
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    animation: 2s ease 2s 1 normal forwards running zoomGrid;
    
    filter: drop-shadow(#a6a6a6 0px 0px 0px);
    background-position: center center;
    
}


@keyframes zoomGrid { 
    from {
        transform: scale(0.25);
    }
    to {
        transform: scale(1);
    }
    
    
    
    .verticalline {
    position: fixed;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100vh;
    background-color: red; /* Change the color if needed */
    z-index: 11003; /* Make sure it is on top of everything */
    visibility: hidden;
}
    
    .display {
    position: fixed; /* or absolute, depending on your layout */
    top: 50px; /* adjust as needed */
    left: 10px; /* adjust as needed */
    background-color: rgba(0, 0, 0, 1); /* semi-transparent background */
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    border: 1px solid #000;
    z-index: 1000; /* ensure it's on top */
    visibility: hidden;
}

    