body {
    font-family: Helvetica, sans-serif;
    margin: 0; 
    height: 400vh;
    width: 110vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: move;

    background-color: #f0f0f0; /*#0f0f0f*/
    background-size: min(4vw, 4vh) min(4vw, 4vh);
    background-position: center;


    overflow: hidden;
    user-select: none;
}


/* Background */
.circle {
    position: absolute;
    z-index: -9;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    
    background-color: rgba(0, 100, 0, 0);
    background-image: radial-gradient(#383838 min(0.1vw, 0.1vh), transparent min(0.15vw, 0.15vh));
    background-size: min(4vw, 4vh) min(4vw, 4vh);
    
    transform: scale(0.25);
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    animation: 2s ease 2s 1 normal forwards running zoomGrid;
    
    filter: drop-shadow(#a6a6a6 0px 0px 0px);
    background-position: center center;
    
}

/* --- LOADING SCREEN --- */
#loading-screen {
    position: fixed;
    cursor: crosshair;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: opacity 1s ease-in-out;
}

#loading-screen.fade-out {
    opacity: 0;
}
.loading-container {
    text-align: center;
    font-size: min(1.2vw, 1.2vh);
}
.loading-bar {
    position: fixed;
    justify-content: center;
    align-self: flex-end;
    width: min(20vw, 20vh);
    height: min(0.4vw, 0.4vh);
    background-color: #e0e0e0;
    margin-bottom: min(13.33vw, 13.33vh);
    border-radius: 9999px;
    overflow: hidden;
}
#loading-fill {
    height: 100%;
    width: 0px;
    background-color: #191919;
    transition: width 2s ease-in-out;
}


/* --- MAIN PAGE --- */

/* Starting fade-in */
#content{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#content.fade-in{
    opacity: 1;
}
/* Header */
header {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    z-index: 9999;
    display: none;

}
/* Date */
.date-display {
    
}
.date {
    position: fixed;
    top: min(2.7vw, 2.7vh);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.year {
    font-size: min(3vw, 3vh);
    font-weight: lighter;
    color: #191919;
}
.month {
    font-size: min(1.5vw, 1.5vh);
    font-weight: lighter;
    color: #191919;
}

/* Index */
.pill-box {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    list-style: none;
}

.pill {
    color: #191919;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: min(1.82vw, 1.82vh);
    font-family: Helvetica, sans-serif;
    cursor: pointer;

    max-width: min(13.97vw, 13.97vh);
    padding: min(0.9vw, 0.9vh) min(1.8vw, 1.8vh);
    border-width: min(0.21vw, 0.21vh);
    border-style: solid;
    border-color: #a8a8a8;
    border-radius: 9999px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.pill:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
    border-color: black;
}

.pill-box li {
    margin: 0 min(1.2vw, 1.2vh);
}

/* Center pill1 and position pills around it */
.pill1 {
    order: 0; /* Center pill1 */
}

.pill2, .pill3 {
    order: 1; /* To the right of pill1 */
}

.pill4, .pill5 {
    order: -1; /* To the left of pill1 */
}


.scrollable-content {
    height: 400vh;
    width: 110vw;
    cursor: move;
}

.gradient-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: scale(0.25);
    box-shadow: 0 0 0 min(100vw, 100vh) #f0f0f0;
    border-width: 0vh 0vw 0vh 0vw;
    border-style: solid;
    border-color: rgba(15, 15, 15, 1);
    background: radial-gradient(rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 1) 70%);
    pointer-events: none;
    z-index: 1000;
    animation: zoomGrid 2s forwards 2s;
}

@keyframes zoomGrid { 
    from {
        transform: scale(0.25);
    }
    to {
        transform: scale(1);
    }