body {
    font-family: Helvetica, sans-serif;
    position: static;
    margin: 0; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: move;
    pointer-events: auto;

    background-color: #303030; /*#0f0f0f*/
    background-size: min(4vw, 4vh) min(4vw, 4vh);
    background-position: center;
    


   overflow: hidden;
}


/* --- LOADING SCREEN --- */
#loading-screen {
    position: fixed;
    cursor: crosshair;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0f0f0f;
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: opacity 1s ease-in-out;
    user-select: none;
}

#loading-screen.fade-out {
    opacity: 0;
}

.loading-container {
    
    text-align: center;
    font-size: min(1.2vw, 1.2vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-bar {
    position: fixed;
    width: min(20vw, 20vh);
    height: max(1px, min(0.2vw, 0.2vh));
    background-color: #1f1f1f;
    bottom: min(13.33vw, 13.33vh);
    border-radius: 9999px;
    overflow: hidden;
}
#loading-fill {
    height: 100%;
    width: 0px;
    background-color: #e6e6e6;
    transition: width 2s ease-in-out;
}


/* --- MAIN PAGE --- */

/* Starting fade-in */
#content{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    width: 100vw;
    height: 100vh;
    pointer-events: auto;
}
#content.fade-in{
    opacity: 1;
}


/* --- HEADER --- */

header {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 9999;
    justify-content: center;
    display: flex;
    pointer-events: none;

}
/* Date */
.date {
    position: fixed;
    z-index: 109001;
    width: 100vw;
    top: min(1.5vw, 1.5vh);
    left: min(1.5vw, 1.5vh);
    text-align: left;
    user-select: none;
    margin: 0;
    padding: 0;
    line-height: 0.9;
    display: flex;
    backdrop-filter: blur(10px);
}
.year {
    font-size: min(10vw, 10vh);
    font-weight: bold;
    color: #e6e6e6;
}
.date-location {
    display:flex;
    flex-direction: column;
    margin-left: min(2vw, 2vh);
}
.month {
    font-size: min(5vw, 5vh);
    font-weight: bold;
    color: #e6e6e6;
    margin-top: min(0.5vw, 0.5vh);
    
    
}
.location {
    font-size: min(3vw, 3vh);
    font-weight: bold;
    color: #4d4d4d;
    margin-top: min(0.75vw, 0.75vh);
    
}

.scrollBar {
    
}


/* Index */
nav{
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100vw;
    pointer-events: auto;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(10px);

}

.pill-box {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index:120000;
    
}

.pill {
    color: #4d4d4d;
    background-color: rgba(0, 0, 0, 0);
    font-size: min(5vw, 5vh);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    
    filter: blur(1px);
    
    padding-left: min(1.15vw, 1.15vh);
    padding-right: min(1.5vw, 1.5vh);
    transition: background-color 0.3s ease-in-out, filter 0.3s ease, color 0.3s ease;
}

.pill:hover {
    background-color: rgba(87, 87, 87, 0);
    color: white;
    filter: blur(0);
}

.pill-box li {
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; /*Quitar cuadrado azul*/
    touch-action: manipulation;
}

.pill1 {
    order: 0;
}

.pill2, .pill3 {
    order: 1;
}

.pill4, .pill5 {
    order: -1;
}




/* Elipse overlay */
.gradient-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: scale(0.25);
    box-shadow: 0 0 0 min(100vw, 100vh) #f0f0f0;
    border-width: 0vh 0vw 0vh 0vw;
    border-style: solid;
    border-color: rgba(15, 15, 15, 1);
    background: radial-gradient(rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 1) 70%);
    pointer-events: none;
    z-index: 1000;
    animation: zoomGrid 2s forwards 2.5s;
}


/* Background */
.background {
    position: relative;
    z-index: 1; 
    top: -500vh;
    left: -150vw;
    height: 1000vh;
    width: 300vw;
    
    background-color: rgba(255, 0, 0, 0); /*sino las drop shadows no funcionan*/
    background-image: radial-gradient(white min(0.12vw, 0.12vh), transparent min(0.15vw, 0.15vh));
    background-size: min(4vw, 4vh) min(4vw, 4vh);
    
    /*transform: scale(0.25);
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    animation: 2s ease 2.5s forwards zoomGrid;*/
    
    filter: drop-shadow(#a6a6a6 0px 0px 0px);
    background-position: center center;
    
    pointer-events: auto;
    
    transition: filter 0.1s ease;  
}

.background.scroll {
       transition: transform 0.1s ease-out;
}

.background-color {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: auto;
    background-image: radial-gradient(circle 500px at 50% 200px, #3e3e3e, transparent);
    z-index: -1;
}

.card {
    position: relative;
    width: min(20vw, 20vh);
    height: min(20vw, 20vh);
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: min(4vw, 4vh);
    pointer-events: auto;
    transition: transform 0.1s ease-in-out;
    z-index: 50;
    
    
}



@keyframes zoomGrid { 
    from {
        transform: scale(0.25);
    }
    to {
        transform: scale(1);
    }}
       
    .verticalline {
    position: absolute;
    top: 0;
    left: 50vw;
    
    width: 1px;
    height: 100vh;
    background-color: aqua;
    z-index: 11003;
    visibility: hidden;
    pointer-events: :none;
}

    